.container{
    /*height: 500px;*/
   /*border: 2px solid black;*/
   background-color: orange;
    display: flex;
    justify-content: center;
    padding: 60px 20px;
   /*align-items: center;*/
    gap: 50px;
    flex-wrap: wrap;
}
.image1,.image2,.image3{
    width: 300px;
    height: 250px;
}
.card1,.card2,.card3{
    width: 300px;
    background-color: white;
    border: 2px black solid;
    padding-bottom: 20px;
    overflow: hidden;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
 }

.card1:hover{
   box-shadow: 
        0 15px 30px rgba(0,0,0,0.35),
        0 0 20px rgba(255,140,0,0.4);
}
.card2:hover{
    box-shadow: 
        0 15px 30px rgba(0,0,0,0.35),
        0 0 20px rgba(255,140,0,0.4);
}
.card3:hover{
    box-shadow: 
        0 15px 30px rgba(0,0,0,0.35),
        0 0 20px rgba(255,140,0,0.4);
}
.btn{
    background-color: rebeccapurple;
    color: bisque;
    border-radius: 10px;
    margin-left: 80px;
    border: none;
    padding: 10px;
}
h2{
    margin-left: 10px;
}
.text{
    text-align: center;
    text-align: justify;
    padding: 10px;
}
